{% extends "auth_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}ASHPense | Login{% endblock title %}

{% block content %}
<div class="card-body">
    <h1 class="card-title text-primary text-center">
        Welcome Back!
    </h1>
    <p class="card-text text-muted text-center">
        Login to proceed
    </p>
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary w-100 mt-3 mb-1" type="submit">Login</button>
        <div style="font-size: 0.9rem; text-align: right;">
            <a href="{% url 'password_reset' %}" style="text-decoration: none; font-style: light">Forgot your password?</a>
        </div>
    </form>
</div>
<div class="text-center border-top">
    <p class="mt-3 mb-3 text-muted">ASHPense Manager &copy; 2024</p>
</div> 
{% endblock content %}