{% extends "auth_base.html" %}
{% load crispy_forms_tags %}

{% block title %}ASHPense | Change Password{% endblock title %}

{% block content %}
<div class="card-body">
    <h1 class="card-title text-primary text-center">
        Change Password
    </h1>
    <p class="card-text text-muted text-center">
        Complete this form to change your password
    </p>
    <form method="POST" class="text-muted">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary w-100 mt-3 mb-1" type="submit">Change Password</button>
    </form>
</div>
<div class="text-center border-top">
    <p class="mt-3 mb-3 text-muted">ASHPense Manager &copy; 2024</p>
</div>
{% endblock content %}