{% extends "auth_base.html" %}
{% load crispy_forms_tags %}

{% block title %}ASHPense | Signup{% endblock title %}

{% block content %}
<div class="card-body">
    <h1 class="card-title text-primary text-center border-bottom pb-3">
        Register
    </h1>
    <p class="card-text text-muted text-center">
        Create an account to begin elevating the way you manage your finances
    </p>
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary w-100 mt-3 mb-3" type="submit">Register</button>
        <div style="font-size: 0.9rem; text-align: center;">
            Already have an account, <a href="{% url 'login' %}" class="text-primary text-decoration-none ">login here</a>
        </div>
    </form>
</div>
<div class="text-center border-top">
    <p class="mt-3 mb-3 text-muted">ASHPense Manager &copy; 2024</p>
</div> 
{% endblock content %}