{% extends "base.html" %}
{% load static %}

{% block title %}ASHPense | Categories {% endblock title %}

{% block content %}
<div class="bg-gray-200 text-sm">
    <div class="container-fluid mb-5 border-bottom">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3">
            <h1 class="h2">Categories</h1>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="fw-light text-decoration-none" href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active fw-light" aria-current="page">
                    List of Categories 
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- BUTTONS SECTION -->
 <section>
    <div class="container px-3">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 pb-2">
                        <a href="#" type="button" class="btn btn-primary w-100">New Pay Method</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 pb-2">
                        <a href="#" type="button" class="btn btn-primary w-100">New Category</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a href="#" type="button" class="btn btn-primary w-100">New Sub-category</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- TABULAR LIST OF CATEGORIES -->
<section class="pt-5">
    <div class="container my-2 px-3 pb-3">
        <h4>List of Categories</h4>
        <div class="row">
            <div class="col col-lg-9 col-md-9 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cat in apm_categories %}
                            <tr>
                                <td>
                                    <a href="{% url 'apm_categories:apm_category_detail' pk=cat.pk %}" type="submit" class="text-primary text-decoration-none">
                                        {{ cat.category_name }}
                                    </a>
                                </td>
                                <td>{{ cat.category_type }}</td>
                                <td>{{ cat.description }}</td>
                                <td class="py-2">
                                    <a href="{% url 'apm_categories:apm_category_update' pk=cat.pk %}" type="submit" class="bg-success py-2 px-3 text-white text-decoration-none">
                                        Edit
                                    </a>
                                </td>
                                <td class="py-2">
                                    <a href="{% url 'apm_categories:apm_category_delete' pk=cat.pk %}" type="submit" class="bg-danger py-2 px-3 text-white text-decoration-none">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- TABULAR LIST OF SUB-CATEGORIES -->
<section>
    <div class="container my-2 px-3 pb-3">
        <h4>List of Sub-categories</h4>
        <div class="row">
            <div class="col col-lg-9 col-md-9 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Type</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subcat in apm_subcategories %}
                            <tr>
                                <td>
                                    <a href="{% url 'apm_categories:apm_subcategory_detail' pk=subcat.pk %}" type="submit" class="text-primary text-decoration-none">
                                    {{ subcat.subcategory_name }}
                                    </a>
                                </td>
                                <td>{{ subcat.category_data }}</td>
                                <td>{{ subcat.subcategory_type }}</td>
                                <td>{{ subcat.description }}</td>
                                <td class="py-2">
                                    <a href="{% url 'apm_categories:apm_subcategory_update' pk=subcat.pk %}" type="submit" class="bg-success py-2 px-3 text-white text-decoration-none">
                                        Edit
                                    </a>
                                </td>
                                <td class="py-2">
                                    <a href="{% url 'apm_categories:apm_subcategory_delete' pk=subcat.pk %}" type="submit" class="bg-danger py-2 px-3 text-white text-decoration-none">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- TABULAR LIST OF PYAMENT METHODS -->
<section>
    <div class="container my-2 px-3 pb-3">
        <h4>List of Payment Methods</h4>
        <div class="row">
            <div class="col col-lg-9 col-md-9 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pay in apm_paymethods %}
                            <tr>
                                <td><a href="{% url 'apm_categories:apm_paymethod_detail' pk=pay.pk %}" type="submit" class="text-primary text-decoration-none">{{ pay.paymethod_name }}</a></td>
                                <td>{{ pay.date_created }}</td>
                                <td>{{ pay.description }}</td>
                                <td class="py-2">
                                    <a href="{% url 'apm_categories:apm_paymethod_update' pk=pay.pk %}" type="submit" class="bg-success py-2 px-3 text-white text-decoration-none">
                                        Edit
                                    </a>
                                </td>
                                <td class="py-2">
                                    <a href="{% url 'apm_categories:apm_paymethod_delete' pk=pay.pk %}" type="submit" class="bg-danger py-2 px-3 text-white text-decoration-none">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}